* {
	box-sizing: border-box;
}
.back {
	background: rgba(0,0,255,0.8) url(../images/admin.jpg);
	background-blend-mode: lighten;
	background-size: cover;
	margin: 0;
}

.cardHead {
	text-align: center;
	padding: 5vh 0;
}
.linkHead {
	margin: 5vh auto;
}
.linkHead a {
	color:white;
}

.rights {
	display:inline-block;
	margin: 1vh 0;
}

a:link, a:visited, a:hover, a:active {
	text-decoration: none;
}

.modal-title {color: white}
/*.modal-header {
	background:#189AB4;
}
*/
span.modal_req {
	 font-style: italic;
	 font-size: 0.75em;
	 color: navy;
	 font-weight: bold"
}

img.card-img-top {
	width: 100%;
}

.tile {
	width: 48%;
}


div.centerTile {
	width: 66%;
	margin-left: 15%;
}

.list_links a {
	color: navy;
}

.list_links a:hover {
	color: gray;
}

#ip {
	text-align:center;
	font-size: 0.70em;
}

.ipdefine {
	font-size: 1.2em;
}


@media only screen and (max-width: 600px) {
  .tile {
    width: 48%;
  }
}
